.row
  .col-sm-10.col-sm-offset-1
    %article
      %header
        %h2 #{@user.full_name}'s video submissions (#{@user.videos.count})
        = link_to "Follow", relationships_path(leader_id: @user.id), class: "btn btn-default", method: :post
      %table.table
        %thead
          %tr
            %th(width="30%") Video Title
            %th(width="15%") Reviews
        %tbody
          - @user.videos.each do |video|
            %tr
              %td
                = link_to video.title, video
              %td
                = link_to video.reviews.count, video


.row
  .col-sm-10.col-sm-offset-1
    %header
      %h3 #{@user.full_name}'s Reviews (#{@user.reviews.count})
    %ul
      - @user.reviews.each do |review|
        %article.review
          %li.row
            .col-sm-2
              %p
                = link_to review.video.title, review.video
              %col Rating: #{review.rating} / 5
            .col-sm-8
              %p= review.content