.video-content
  %h2 #{@video.title}
  .video-wrapper
    = image_tag("http://placehold.it/16x9", class: "ratio")
    - if @video.video_provider == "YouTube"
      %iframe{:allowfullscreen => "allowfullscreen", :frameborder => "0", :src => "http://www.youtube.com/embed/#{@video.video_id}"}
    - elsif @video.video_provider == "Vimeo"
      %iframe{:allowfullscreen => "", :frameborder => "0", :height => "562", :mozallowfullscreen => "", :src => "//player.vimeo.com/video/#{@video.video_id}", :webkitallowfullscreen => ""}
  
  %h4 Submitted by #{link_to "#{@video.user.username}", @video.user}
  
  .row
    .col-sm-10
      = form_for [@video, Review.new] do |f|
        .form-group
          %label Review
          = f.text_area :content, rows: 3, class: "form-control"
        .form-group
          %input(type="submit" value="Submit" class="btn btn-primary")
          = link_to "Cancel", @video
      %h4 Reviews (#{@reviews.count})
      %ul
        - @reviews.each do |review|
          %li.row.review-well
            .col-sm-2
              %p
                by
                = link_to review.user.username, review.user
            .col-sm-8
              %p= review.content
