- title @video.title

.video-content
  %h2 #{@video.title}
  .video-wrapper
    = image_tag("http://placehold.it/16x9", class: "ratio")
    - if @video.video_provider == "YouTube"
      %iframe{:allowfullscreen => "allowfullscreen", :frameborder => "0", :src => "http://www.youtube.com/embed/#{@video.video_id}"}
    - elsif @video.video_provider == "Vimeo"
      %iframe{:allowfullscreen => "", :frameborder => "0", :height => "562", :mozallowfullscreen => "", :src => "//player.vimeo.com/video/#{@video.video_id}", :webkitallowfullscreen => ""}
  
  %h4 Submitted by #{link_to "#{@video.user.username}", @video.user}
  - if current_user && current_user.can_feature?(@video)
    = link_to "Feature", admin_path(@video), class: "btn btn-primary", method: :post if current_user.can_feature?(@video)
  - if admin?
    = link_to "Delete", admin_video_path(@video), class: "btn btn-danger", method: :delete
  %p
    = simple_format(@video.description)
  .row
    .col-sm-1
      .voting
        = link_to video_votes_path(@video, vote: true), remote: true, method: 'post' do
          %span.glyphicon.glyphicon-chevron-up{:id => "video_#{@video.id}_true"}
        %p{:id => "video_#{@video.id}_votes"}= @video.total_votes
    .col-sm-10
      = form_for [@video, Review.new] do |f|
        .form-group
          %label Review
          = f.text_area :content, rows: 3, class: "form-control"
        .form-group
          %input(type="submit" value="Submit" class="btn btn-primary")
          = link_to "Cancel", @video
      %h4 Reviews (#{@reviews.count})
      %ul
        - @reviews.each do |review|
          %li.row.review-well
            .col-sm-2
              %p
                by
                = link_to review.user.username, review.user
            .col-sm-8
              %p= review.content
