- title "The most comprehensive collection of Skydiving and BASE Jumping videos"

.row
  .col-xs-12
    - flash.each do |name, msg|
      - if msg.is_a?(String)
        %div{:class => "alert alert-#{name == :notice ? "info" : "danger"}"}
          %a.close{"data-dismiss" => "alert"} ×
          = content_tag :div, msg, :id => "flash_#{name}"
    -if logged_in?
      = link_to(new_video_path, class: "btn btn-primary") do
        Submit a Video
        %span.glyphicon.glyphicon-plane
    - else
      .jumbotron.logo-text
        .row
          .col-sm-8
            %h1 flyfree.me
            %p The home for Skydiving and BASE jumping videos submitted by you!
            %ul.list-inline
              %li
                = link_to "Sign In", sign_in_path
              %li or
              %li 
                = link_to "Sign Up", register_path
              %li to
              %li
                = link_to(new_video_path, class: "btn btn-primary") do
                  Submit a Video &raquo;
          .col-sm-4
            = link_to image_tag('parachute_hover_top.png', class: "logo"), sign_in_path
    .row
      %h2.logo-text Featured Videos
      %span.video-link
        = link_to featured_path do
          see all featured videos
          %span.glyphicon.glyphicon-chevron-right
    - @featured_videos.first(3).each do |video|
      .row
        .col-6.col-sm-12.col-lg-6
          .featured-wrapper
            = link_to image_tag(video.thumbnail_url, size: "304x171"), video_path(video)
            .voting
              = link_to video_votes_path(video, vote: true), remote: true, method: 'post' do
                %span.glyphicon.glyphicon-chevron-up{:id => "video_#{video.id}_true"}
              %p{:id => "video_#{video.id}_votes"}= video.total_votes
        .col-6.col-sm-12.col-lg-6
          .featured-content
            = link_to "#{video.title}", video
            %hr
            %p Submitted by #{link_to "#{video.user.username}", user_path(video.user)}
            .description
              = video.description
    .row
      %h2.logo-text Recent Videos
    .row
      - @standard_videos.each do |video|
        .col-6.col-sm-6.col-lg-4
          .index-block
            .index-wrapper
              = link_to image_tag(video.thumbnail_url, size: "304x171"), video_path(video)
              .voting
                = link_to video_votes_path(video, vote: true), remote: true, method: 'post' do
                  %span.glyphicon.glyphicon-chevron-up{:id => "video_#{video.id}_true"}
                %p{:id => "video_#{video.id}_votes"}= video.total_votes
              .title-bar
                = link_to "#{video.title}", video
    .row.custom_pagination
      = will_paginate @standard_videos, :page_links => false
          