.profile-content  
  .row
    .col-sm-12
      %table.table
        %thead
          %tr
            %th(width="30%") Video Title
            %th(width="20%") Submitted At
            %th(width="20%") Submitted By
            %th(width="10%") Votes
            %th(width="20%") Featured?
  
        %tbody
          - @videos.each do |video|
            %tr
              %td
                = link_to video.title, video
              %td #{video.created_at}
              %td
                = link_to video.user.username, user_path(video.user)
              %td #{video.total_votes}
              %td #{video.featured? ? "Yes" : "" }